@using GestionCegepWeb.Models

@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    CegepDTO cegep = (ViewBag.Cegep as CegepDTO);
    DepartementDTO departement = (ViewBag.Departement as DepartementDTO);

    <form asp-controller="Cours" asp-action="Index" method="get">
        <label>Sélectionner un Cégep :</label>
        <select name="nomCegep" onchange="submit();">
            @foreach (var leCegep in ViewBag.ListeCegeps)
            {
                if (leCegep.Nom.Equals(cegep.Nom))
                {
                    <option value="@leCegep.Nom" selected>@leCegep.Nom</option>
                }
                else
                {
                    <option value="@leCegep.Nom">@leCegep.Nom</option>
                }
            }
        </select>
        <br />
        <label>Sélectionner un département :</label>
        <select name="nomDepartement" onchange="submit();">
            @foreach (var leDepartement in ViewBag.ListeDepartements)
            {
                if (leDepartement.Nom.Equals(departement.Nom))
                {
                    <option value="@leDepartement.Nom" selected>@leDepartement.Nom</option>
                }
                else
                {
                    <option value="@leDepartement.Nom">@leDepartement.Nom</option>
                }
            }
        </select>
    </form>
    <br />
    <h3>Liste des Cours(@ViewBag.ListeCours.Count cours) :</h3>
    <br />
    <table>
        <tr>
            <th>No</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        @foreach (CoursDTO cours in ViewBag.ListeCours)
        {
            <tr>
                <td>@cours.No</td>
                <td>@cours.Nom</td>
                <td>@cours.Description</td>
                
            </tr>
        }
    </table>

}