@using GestionCegepWeb.Models
@model CegepDTO
<h3>Liste des Cégep(s) (@ViewBag.ListeCegeps.Count) </h3>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Province</th>
            <th>Code Postal</th>
            <th>Téléphone</th>
            <th>Courriel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CegepDTO cegep in ViewBag.ListeCegeps)
        {
            <tr>
                <td>@cegep.Nom</td>
                <td>@cegep.Adresse</td>
                <td>@cegep.Ville</td>
                <td>@cegep.Province</td>
                <td>@cegep.CodePostal</td>
                <td>@cegep.Telephone</td>
                <td>@cegep.Courriel</td>
            </tr>
        }
    </tbody>
</table>

<br />
<b>Ajouter un cégep : </b>
<br />
<br />
<form asp-controller="Cegep" asp-action="AjouterCegep" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Nom"></label>
            </td>
            <td>
                <input asp-for="Nom" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Adresse"></label>
            </td>
            <td>
                <input asp-for="Adresse" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Ville"></label>
            </td>
            <td>
                <input asp-for="Ville" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Province"></label>
            </td>
            <td>
                <input asp-for="Province" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CodePostal"></label>
            </td>
            <td>
                <input asp-for="CodePostal" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Telephone"></label>
            </td>
            <td>
                <input asp-for="Telephone" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Courriel"></label>
            </td>
            <td>
                <input asp-for="Courriel" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Ajouter" />
</form>
<br />


