@using GestionCegepWeb.Models
@model EnseignantDTO

@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    CegepDTO cegep = (ViewBag.Cegep as CegepDTO);
    DepartementDTO departement = (ViewBag.Departement as DepartementDTO);

    <form asp-controller="Enseignant" asp-action="Index" method="get">
        <label>Sélectionner un Cégep :</label>
        <select name="nomCegep" onchange="submit();">
            @foreach (var leCegep in ViewBag.ListeCegeps)
            {
                if (leCegep.Nom.Equals(cegep.Nom))
                {
                    <option value="@leCegep.Nom" selected>@leCegep.Nom</option>
                }
                else
                {
                    <option value="@leCegep.Nom">@leCegep.Nom</option>
                }
            }
        </select>
        <br />
        <label>Sélectionner un département :</label>
        <select name="nomDepartement" onchange="submit();">
            @foreach (var leDepartement in ViewBag.ListeDepartements)
            {
                if (leDepartement.Nom.Equals(departement.Nom))
                {
                    <option value="@leDepartement.Nom" selected>@leDepartement.Nom</option>
                }
                else
                {
                    <option value="@leDepartement.Nom">@leDepartement.Nom</option>
                }
            }
        </select>
    </form>
    <br />
    <h3>Liste des enseignants(s) (@ViewBag.ListeEnseignants.Count enseignant(s)) :</h3>
    <br />
    <table>
        <tr>
            <th>No d'employé</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Province</th>
            <th>Code postal</th>
            <th>Téléphone</th>
            <th>Courriel</th>
        </tr>
        @foreach (EnseignantDTO enseignant in ViewBag.ListeEnseignants)
        {
            <tr>
                <td>@enseignant.NoEmploye</td>
                <td>@enseignant.Nom</td>
                <td>@enseignant.Prenom</td>
                <td>@enseignant.Adresse</td>
                <td>@enseignant.Ville</td>
                <td>@enseignant.Province</td>
                <td>@enseignant.CodePostal</td>
                <td>@enseignant.Telephone</td>
                <td>@enseignant.Courriel</td>
            </tr>
        }
    </table>
}
    <br />
    <b>Ajouter un Enseignant : </b>
    <br />
    <br />
    <form asp-controller="Enseignant" asp-action="AjouterEnseignant" method="post">
        <table>

            <tr>
                <td>
                    <label asp-for="NoEmploye"></label>
                </td>
                <td>
                    <input asp-for="NoEmploye" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Nom"></label>
                </td>
                <td>
                    <input asp-for="Nom" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Prenom"></label>
                </td>
                <td>
                    <input asp-for="Prenom" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Adresse"></label>
                </td>
                <td>
                    <input asp-for="Adresse" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Ville"></label>
                </td>
                <td>
                    <input asp-for="Ville" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Province"></label>
                </td>
                <td>
                    <input asp-for="Province" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="CodePostal"></label>
                </td>
                <td>
                    <input asp-for="CodePostal" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Telephone"></label>
                </td>
                <td>
                    <input asp-for="Telephone" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Courriel"></label>
                </td>
                <td>
                    <input asp-for="Courriel" />
                </td>
            </tr>

        </table>
        <input type="submit" value="Ajouter" />
    @foreach (var enseignant in ViewBag.ListeEnseignants)
    {
        <input type="hidden" name="nomEnseignant" value="@enseignant.Nom" />
    }
</form>

