@using GestionCegepWeb.Models
@model DepartementDTO
@{
    var cegeps = ViewBag.ListeCegeps as List<CegepDTO>;
    var departements = ViewBag.ListeDepartements as List<DepartementDTO> ?? new List<DepartementDTO>();

}

<h3>Sélectionner un Cégep :</h3>
<form method="get" asp-controller="Departement" asp-action="Index">
    <select name="nomCegep" class="form-select" onchange="this.form.submit()">
        @foreach (var cegep in cegeps)
        {
            <option value="@cegep.Nom" selected="@(ViewBag.CegepSelectionne == cegep.Nom ? "selected" : null)">
                @cegep.Nom
            </option>
        }
    </select>
</form>

<br />
<br />
<h3>Liste des département(s) (@departements.Count) :</h3>
<br />
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dep in departements)
        {
            <tr>
                <td>@dep.No</td>
                <td>@dep.Nom</td>
                <td>@dep.Description</td>
            </tr>
        }
    </tbody>
</table>
<br />
<b>Ajouter un Département : </b>
<br />
<br />
<form asp-controller="Departement" asp-action="AjouterDepartement" method="post">
    <table>
    
        <tr>
            <td>
                <label asp-for="No"></label>
            </td>
            <td>
                <input asp-for="No" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Nom"></label>
            </td>
            <td>
                <input asp-for="Nom" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description"></label>
            </td>
            <td>
                <input asp-for="Description" />
            </td>
        </tr>
      
    </table>
    <input type="submit" value="Ajouter" />
    <input type="hidden" name="nomCegep" value="@ViewBag.CegepSelectionne" />
</form>
<br />

